$gray: #bebebe7e;

$blue: #294574;
$green: #6cdac7;
$white: white;

.input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #bebebe;
  width: 100%;
  height: 35px;
  line-height: 35px;
  color: white;
  transition: all linear 0.3s;
  cursor: pointer;
  &::placeholder {
    color: $gray;
  }
  &:focus {
    outline: none;
    box-shadow: none;
    border-bottom-color: $white;
  }
}

.submit {
  border-radius: 20px;
  height: 40px;
  width: 200px;
  text-align: center;
  color: $white;
  background: $blue;
  margin-top: 25px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  border: 1px solid transparent;
  transition: all linear 0.2s;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:hover {
    background: transparent;
    border-color: $green;
    color: $green;
  }
}
.disabled {
  border-radius: 20px;
  height: 40px;
  width: 200px;
  text-align: center;
  color: $white;
  background: $blue;
  margin-top: 25px;
  border: none;
  opacity: 0.5;
  font-size: 15px;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
