$white: #ffffff;
$green: #6cdac7;
$blue: #294574;

.form_left {
  width: calc(100% / 2);
  background: $blue;
  position: relative;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  .top {
    padding-top: 100px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    font-size: 1vw;
    display: block;
  }

  .bottom_main {
    position: absolute;
    width: 100%;
    bottom: 0px;
    .bottom_rocket {
      position: absolute;
      width: fit-content;
      bottom: 8vw;
      z-index: 10;
      left: 50%;
      transform: translate(-50%, -50%);
        animation: rocket 10s linear infinite;
      img {
        object-fit: contain;
        width: 90px;
      }
    }
    .cloud {
      overflow: hidden;
      position: relative;
      height: 100vw;
      width: 100%;
      .cloud_anime {
        position: absolute;
        width: 100%;
        bottom: 0px;
        animation: cloud 10s linear infinite;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
@keyframes cloud {
  0% {
    bottom: -10px;
  }
  10% {
    bottom: -30px;
  }
  20% {
    bottom: -10px;
  }
  30% {
    bottom: -30px;
  }
  40% {
    bottom: -10px;
  }
  50% {
    bottom: -30px;
  }
  60% {
    bottom: -10px;
  }
  70% {
    bottom: -30px;
  }
  80% {
    bottom: -10px;
  }
  90% {
    bottom: -30px;
  }
  80% {
    bottom: -950px;
  }
}
@keyframes rocket {
  0% {
    bottom: 7.5vw;
  }
  10% {
    bottom: 8vw;
  }
  20% {
    bottom: 7.5vw;
  }
  30% {
    bottom: 8vw;
  }
  40% {
    bottom: 7.5vw;
  }
  50% {
    bottom: 8vw;
  }
  60% {
    bottom: 7.5vw;
  }
  70% {
    bottom: 8vw;
  }
  80% {
    bottom: 7.5vw;
  }
  90% {
    bottom: 8vw;
  }
  80% {
    bottom: 100vw;
  }
}
